.user-balance {
    /* border: 1px; */
    background: BLUE;
    /* text-decoration-color: white; */
    border-radius: 8px;
    /* width: 10px; */
    margin-left: 10px;
    font-size: 19px;
    padding: 0px 5px 0px 5px;
    /* width: 122px; */
    color: MINTCREAM;
}

.user-name {
    color: white;
}