.bet-history-header {
    border: 1px solid;
    border-color: white;
    font-size: 100%;
    background-color: seagreen;    
    color: white;    
    height: 25px;
}

.bet-history-data {
    font-style: normal;
    border: 1px solid;
    border-color: white;
    font-size: 100%;    
    background-color: lightseagreen;
}