.header {
    background-color: #0d1114;
    .banner {
        background-image: url('/assets/banner.png');
        background-repeat: no-repeat;
        background-position: top center;
        height: 168px;
    }
}